.logout-spacer {
  margin: auto 0px auto auto;
  .user-name {
    padding-right: 0.8rem;
  }
  #notification_button {
    padding-right: 3rem;
    #notification_bell {
      color: white;
    }
  }
}
.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
