<mat-toolbar color="primary">
  <span
    ><a routerLink="/consignment" routerLinkActive="active" mat-button
      >Consignment Overview</a
    ></span
  >
  <span
    ><a routerLink="/consignment/add" routerLinkActive="active" mat-button
      >Add Consignment</a
    ></span
  >
  <span
    ><a routerLink="/consignment/retrieve" routerLinkActive="active" mat-button
      >Update Consignment Details</a
    ></span
  >
  <div class="logout-spacer">
    <span class="user-name">Welcome, {{ this.userName }}</span>
    <button
      mat-button
      color="primary"
      id="notification_button"
      (click)="openNotification()"
    >
      <mat-icon
        [matBadge]="notificationData.length"
        matBadgeColor="warn"
        id="notification_bell"
        >notifications</mat-icon
      >
    </button>
    <button mat-raised-button (click)="onLogoutClick()">
      Logout
    </button>
  </div>
  <div class="error-block" color="danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</mat-toolbar>
