<app-menubar></app-menubar>
<div id="main-container">
  <h3>{{ screenTitle }}</h3>
  <div class="error-block" color="danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div id="consigment-number-container" *ngIf="!isNewConsignment">
    <form
      [formGroup]="consignmentNumberForm"
      (ngSubmit)="onRetrieveDetail(consignmentNumberForm)"
    >
      <mat-form-field>
        <input
          matInput
          type="text"
          autocomplete="off"
          autofocus
          formControlName="consignmentNumber"
          placeholder="Consignment Number"
          required
        />
      </mat-form-field>
      <button mat-raised-button color="primary" class="button" type="submit">
        Retrieve Details
      </button>
    </form>
  </div>
  <div id="data-entry-container">
    <mat-card>
      <mat-card-content>
        <form
          [formGroup]="contractForm"
          (ngSubmit)="onFormSubmit(contractForm)"
          id="contract-form"
        >
          <mat-tab-group dynamicHeight>
            <mat-tab label="Contract Details">
              <div>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="text"
                    autocomplete="off"
                    formControlName="Contract Number"
                    placeholder="Contract Number"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    [matDatepicker]="contractDatePicker"
                    formControlName="Contract Date"
                    placeholder="Contract date"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="contractDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #contractDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    [matDatepicker]="businessDatePicker"
                    placeholder="Business date"
                    formControlName="Business Date"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="businessDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #businessDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="text"
                    placeholder="Company Name"
                    formControlName="Company Name"
                    required
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="text"
                    placeholder="Material"
                    formControlName="Material"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="number"
                    formControlName="Price"
                    placeholder="Price"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="number"
                    formControlName="Quantity"
                    placeholder="Quantity"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="text"
                    formControlName="Payment Terms"
                    placeholder="Payment Terms"
                    required
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="number"
                    formControlName="Advance To Be Paid"
                    placeholder="Advance to be paid"
                  />
                </mat-form-field>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    [matDatepicker]="advanceDatePicker"
                    formControlName="Advance Paid Date"
                    placeholder="Advance paid date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="advanceDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #advanceDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="number"
                    formControlName="Contract Quantity (MT)"
                    placeholder="Contract Quantity"
                    required
                  />
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="Invoice Details">
              <div>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    [matDatepicker]="invoiceDatePicker"
                    formControlName="Invoice Date"
                    placeholder="Invoice date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="invoiceDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #invoiceDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="text"
                    formControlName="Invoice Number"
                    placeholder="Invoice Number"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="inputField">
                  <input
                    matInput
                    type="number"
                    formControlName="Invoice Price"
                    placeholder="Invoice Value"
                  />
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="Shipment Details">
              <div id="shipping-tab">
                <div>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="number"
                      formControlName="Shipped Quantity (MT)"
                      placeholder="Shipping Quantity"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="number"
                      formControlName="Containers"
                      placeholder="Number of Containers"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="text"
                      formControlName="Container Numbers"
                      placeholder="Container numbers"
                    />
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="text"
                      formControlName="Loading Port"
                      placeholder="Loading Port"
                    />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      [matDatepicker]="OBLDatePicker"
                      placeholder="OBL Date"
                      formControlName="OB/L Date"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="OBLDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker touchUi #OBLDatePicker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="text"
                      formControlName="B/L Number"
                      placeholder="OBL Number"
                    />
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="text"
                      formControlName="PSIC Courier Details"
                      placeholder="PSIC Details"
                    />
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="text"
                      formControlName="DHL / Delivery Date"
                      placeholder="DHL"
                    />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="text"
                      placeholder="Shipping Line"
                      formControlName="Shipping Line"
                      requried
                    />
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="text"
                      formControlName="ETA"
                      placeholder="ETA"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="text"
                      formControlName="Place Of Delivery"
                      placeholder="Place of Delivery"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      [matDatepicker]="dischargeDatePicker"
                      placeholder="Discharge Date"
                      formControlName="Discharge Date"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="dischargeDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      touchUi
                      #dischargeDatePicker
                    ></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="inputField">
                    <input
                      matInput
                      type="text"
                      formControlName="Sailing Time"
                      placeholder="Sailing time"
                      required
                    />
                  </mat-form-field>
                  <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    class="buttons"
                  >
                    Save
                  </button>
                  <button mat-raised-button color="warn" class="buttons">
                    Cancel
                  </button>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
