<app-menubar></app-menubar>
<div id="main-container">
  <div class="error-block" color="danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p class="spinner-text">{{ spinnerMessage }}</p>
  </ngx-spinner>
  <mat-card>
    <mat-card-title>All Consignment Details</mat-card-title>
    <div class="table-container">
      <table
        mat-table
        [dataSource]="consignmentTableSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of columnsToDisplay"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ column.replace("_", " ") }}
          </th>
          <td mat-cell *matCellDef="let data">{{ data[column] }}</td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let data"
            [attr.colspan]="columnsToDisplay.length"
          >
            <div
              class="consignment-detail"
              [@detailExpand]="
                data == consignmentData ? 'expanded' : 'collapsed'
              "
            >
              <div class="consignment-description">
                <div>
                  <b>Additional Details:</b>
                </div>
                <div>
                  <div class="consignmentField" *ngIf="data.Contract_Number">
                    <b>Contract Number:</b> {{ data.Contract_Number }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Contract_Date">
                    <b>Contract Date:</b> {{ data.Contract_Date }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Business_Date">
                    <b>Business Date:</b> {{ data.Business_Date }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Month">
                    <b>Month:</b> {{ data.Month }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Company_Name">
                    <b>Company Name:</b> {{ data.Company_Name }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Status">
                    <b>Status:</b> {{ data.Status }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Material">
                    <b>Material:</b> {{ data.Material }}
                  </div>
                  <div class="consignmentField" *ngIf="data.On_Board_Date">
                    <b>On Board Date:</b> {{ data.On_Board_Date }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Price">
                    <b>Price:</b> {{ data.Price }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Payment_Terms">
                    <b>Payment Terms:</b> {{ data.Payment_Terms }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Advance_To_Be_Paid">
                    <b>Advance To Be Paid:</b> {{ data.Advance_To_Be_Paid }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Advance_Paid_Date">
                    <b>Advance Paid Date:</b> {{ data.Advance_Paid_Date }}
                  </div>
                  <div class="consignmentField" *ngIf="data.Advance_Paid_Date">
                    <b>Advance Paid Date:</b> {{ data.Advance_Paid_Date }}
                  </div>
                  <div class="consignmentField" *ngIf="Contract_Quantity_MT">
                    <b>Contract Quantity:</b> {{ data.Contract_Quantity_MT }}
                  </div>
                  <div class="consignmentField" *ngIf="Invoice_Date">
                    <b>Invoice Date:</b> {{ data.Invoice_Date }}
                  </div>
                  <div class="consignmentField" *ngIf="Invoice_Number">
                    <b>Invoice Number:</b> {{ data.Invoice_Number }}
                  </div>
                  <div class="consignmentField" *ngIf="Invoice_Price">
                    <b>Invoice Price:</b> {{ data.Invoice_Price }}
                  </div>
                  <div class="consignmentField" *ngIf="Shipped_Quantity_MT">
                    <b>Shipped_Quantity(MT):</b> {{ data.Shipped_Quantity_MT }}
                  </div>
                  <div class="consignmentField" *ngIf="Containers">
                    <b>Containers:</b> {{ data.Containers }}
                  </div>
                  <div class="consignmentField" *ngIf="Container_Numbers">
                    <b>Container Numbers:</b> {{ data.Container_Numbers }}
                  </div>
                  <div class="consignmentField" *ngIf="OB_L_Date">
                    <b>OB/L Date:</b> {{ data.OB_L_Date }}
                  </div>
                  <div class="consignmentField" *ngIf="B_L_Number">
                    <b>B/L Number:</b> {{ data.B_L_Number }}
                  </div>
                  <div class="consignmentField" *ngIf="Loading_Port">
                    <b>Loading Port:</b> {{ data.Loading_Port }}
                  </div>
                  <div class="consignmentField" *ngIf="Shipping_Line">
                    <b>Shipping Line:</b> {{ data.Shipping_Line }}
                  </div>
                  <div class="consignmentField" *ngIf="ETA">
                    <b>ETA:</b> {{ data.ETA }}
                  </div>
                  <div class="consignmentField" *ngIf="Discharge_Date">
                    <b>Discharge Date:</b> {{ data.Discharge_Date }}
                  </div>
                  <div class="consignmentField" *ngIf="Place_Of_Delivery">
                    <b>Place Of Delivery:</b> {{ data.Place_Of_Delivery }}
                  </div>
                  <div class="consignmentField" *ngIf="PSIC_Courier_Details">
                    <b>PSIC Courier Details:</b> {{ data.PSIC_Courier_Details }}
                  </div>
                  <div class="consignmentField" *ngIf="PSIC_Courier_Details">
                    <b>DHL Delivery Date:</b> {{ data.DHL_Delivery_Date }}
                  </div>
                  <div class="consignmentField" *ngIf="Sailing_Time">
                    <b>Sailing Time:</b> {{ data.Sailing_Time }}
                  </div>
                  <div class="consignmentField" *ngIf="Comments">
                    <b>Comments:</b> {{ data.Comments }}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let data; columns: columnsToDisplay"
          class="consignment-row"
          [class.consignment-expanded-row]="consignmentData === data"
          (click)="consignmentData = consignmentData === data ? null : data"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="consignment-detail-row"
        ></tr>
      </table>
    </div>
  </mat-card>
</div>
